
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

/* Header styling */
header {
    text-align: center; /* Centering the text */
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #141914;
}

header p {
    font-size: 1.2em;
    color: #141914;
}

/* Title styling */
.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; /* Centering the title */
}

.title h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.title .underline {
    width: 100px;
    height: 3px;
    background-color: #141914;
    margin: 0 auto; /* Centering the underline */
    
}

.section-center {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.menu-item {
    max-width: 350px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.filter-btn {
    background-color: #e78a5c;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    display: inline;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
    position: relative;
}

.filter-btn:hover {
    border: 1px solid #b4b973 ;
    background: #968779;
    transition: 1s;
}

.btn-container{
    align-items: center;
    justify-self: center;
}

.photo {
    width: 100%;
    border-radius: 8px;
}

.item-info {
    padding: 10px 0;
}

.price {
    color: #d35400;
    font-weight: bold;
}

.menu-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .section-center {
        flex-direction: column;
        align-items: center;
    }
}