/* Basic Styling */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Ensures the content takes up remaining space */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, .menu .title {
    text-align: center;
    margin: 20px 0;
}

/* Center the title and header */
header {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    background-color: transparent;
    padding: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    width: 60px;
    height: 4px;
    background-color: #333;
    margin-top: 10px;
}

/* Button Styling */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-btn {
    
    background-color: #e78a5c;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    display: inline;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
    position: relative;
}

.filter-btn:hover {
    background-color: #e9c087;
}

/* Menu Section */
.section-center {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    padding: 20px;
}

/* Menu Item Styling */
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-info {
    padding: 15px;
    text-align: center;
}

.item-info header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.price {
    color: #e78a5c;
    font-weight: bold;
}

.description {
    font-size: 0.9rem;
    color: #666;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1%;
    margin-top: auto;
    background-color: transparent;
}

footer i {
    font-size: 1.2em;
    color: #252323;
    cursor: pointer;
    transition: color 0.3s;
}

footer i:hover {
    color: #9b7055;
    cursor: pointer;
}
@media (max-width: 768px) {
    .section-center {
        flex-direction: column;
        align-items: center;
    }
}
